
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$strongblue: #057ccf;
$vividorange: #f96f0e;

.icon-vividorange{
    color:$vividorange; //studentlist
}
.icon-strongblue{
    color:$strongblue;
}
.icon-blue{
    color:$blue; //courses
}
.icon-indigo{
    color:$indigo; //useraccounts
}
.icon-purple{
    color:$purple; //enrollment
}
.icon-pink{
    color:$pink; //developer
}
.icon-red{
    color:$red;
}
.icon-orange{
    color:$orange; //profile
}
.icon-yellow{
    color:$yellow;//dashboard
}
.icon-green{
    color:$green; //program
}
.icon-teal{
    color:$teal; //curriculum
}
.icon-cyan{
    color:$cyan;
}
